.description {
    color: rgb(67, 9, 9);
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
}

.full-description {
    color: rgb(67, 9, 9);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.composition {
    font-style: oblique;
    color: rgb(67, 9, 9);
    font-weight: 250;
}

.description:first-letter,
.full-description:first-letter,
.composition:first-letter{
    color: rgb(95, 21, 21);
    font-size: 20px;
    font-weight: 550;
}

.table {
    border: 3px solid rgb(179, 151, 116);
    width: 100%;
    height: 130px;
    border-collapse: collapse;
    border-radius: 20px;
    color: rgb(67, 9, 9);
}

.table td {
    border: 2px solid rgb(179, 151, 116);
    border-radius: 20px;
}

.rightcolm,
.bottomrow {
    background-color: rgb(179, 151, 116);
}

.toprow {
    height: 30px;
}

img[alt="photo_product"]{
    box-shadow: 0 0 10px 8px rgb(179, 151, 116);
    max-width: 100%;
}

img[alt="photo_product"]:hover {
    box-shadow: none;
}

.product_container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.product_container > div {
    width: 45%;
    min-width: 350px;
}
.product_photo {
    margin-top: 20px;
    align-self: center;
}

.submit_buy form {
    text-align: center;
}

.submit_buy input[type="submit"] {
    background-color: #707070;
    width: 25%;
    height: 75%;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 10px;
}   

input[type="number"]::placeholder {
    color: rgb(67, 15, 15);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

label[for="quantity"] {
    color: rgb(90, 22, 22);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
} 

.submit_buy input[type="submit"]:hover {
    outline: 2px solid rgb(67, 19, 19);
}

.submit_buy form {
    background-color: rgb(179, 151, 116);
    box-shadow: 0 0 10px 8px rgb(179, 151, 116);
}

.backlink {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    margin-top: 10px;
    flex: 0 0 auto;
}

.backlink > a {
    color: rgb(123, 60, 60);
    text-decoration: none;
}

.backlink > a:hover {
    color: rgb(70, 14, 14);
    font-size: 21px;
    font-weight: 600;
}

