.feedback form {
    margin: 0 0 0 5px;
}

.contacts {
    background-color: rgb(130, 218, 253);
    width: 40%; 
    min-width: 400px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px 8px rgb(130, 218, 253);
}

input[type="text"] {
    width: 100px;
    height: 20px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea[name="Text1"]::placeholder {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 17px;
    font-weight: 300;
    color: gray;
}

.contacts input {
    width: 80%;
    height: 20px;
    margin-bottom: 4px;
}

.contacts textarea {
    width: 80%;
}

.contacts input[type="submit"],
.contacts input[type="reset"] {
    background-color: darkslategray;
    width: 40%;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.contacts input:hover,
textarea:hover {
    outline: 2px solid white;
}

input[type="email"]:invalid {
    background-color: rgb(196, 196, 196);
    color: red;
}

input[type="text"],
textarea[name="Text1"] {
    text-transform: capitalize;  
}

.adress li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    list-style-type: square;
    margin-bottom: 7px;
    color: gray;
}

.adress li a {
    color: gray;
}

.connection {
    width: 100%;
}

h2 {
    margin-top: 40px;
    margin-bottom: auto;
}

.maps {
    width: 100%;
    margin-top: 10px;
}