

html, body {
    background-color: #f8f8f8;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    min-width: 700px;
    min-height: 100%;
    margin: 0 auto;
    background-image: url(../img/background1.jpg);
    background-repeat: repeat;
    position: relative;;
}

h1, .hello {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#hello {
    font-style: italic;
    font-size: 17px;
    color: black;
}

.header {
    height: 140px;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

img[alt="logo"] {
    padding-left: 50px;
    position: relative;
    top: 10px;
}

.menu {
    position: absolute;
    right: 75px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    margin: 1px 0;
    height: 25px;
}

.menu li {
    font-style: oblique;
    font-size: 20px;
    font-weight: 650;
    list-style-type: none;
    width: 75px;
    margin-right: 40px;
}

.menu li a {
    color: #440b0b;

}

.menu_item:hover {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 1000;
}

.menu li ul {
    display: none;
    padding-left: 5px;
}

.submenu a {
    font-size: 15px;
    text-decoration: none;

}

.menu li:hover ul {
    display: block
}

.submenu {
    background-color: rgba(182, 124, 124, 0.65);
    width: 100px;
    box-shadow: 5px 5px 9px 3px rgb(167, 107, 107);
    border-bottom: 1px solid rgb(109, 82, 82);
    border-right: 1px solid rgb(109, 82, 82);
    margin-left: -7px;
}

.submenu hr {
    margin-left: -5px;
    width: 100px;
}

.submenu li a:hover {
    color: black;
    font-size: 16px;
}

.content {
    padding: 0 20px 60px 20px;
}

.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
    
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: right;
}

.copy {
    font-style: normal;
    color: black;
    font-size: 12px;
    padding-right: 20px;
}

img[alt="image"] {
    border-radius: 7px;
    box-shadow: 0 0 7px 6px rgb(134, 95, 95);
}

